.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.25em;
}
.image {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}